# Eclipse
.project
.classpath
.settings/

/.settings
/target
/.classpath
/.project
.idea/
*.iml
out/
.DS_Store
*.orig

*/.settings
*/target
*/.classpath
*/.project
*/.idea/
*/*.iml
*/out/
*/.DS_Store

# IntelliJ
*.iml
.idea/

# Maven
target/
out/

# Mac
.DS_Store

# Log
/logs
