<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.zhenfeng.service.mapper.CommodityTypeMapper">
    <insert id="insertCommodityType" parameterType="pers.zhenfeng.service.po.CommodityTypePO" useGeneratedKeys="true" keyProperty="id">
        insert commodity_type (
            name,
            remark,
            is_delete,
            create_time,
            create_by,
            update_time,
            update_by
        )
        values (
            #{name},
            #{remark},
            0,
            now(),
            #{createBy},
            now(),
            #{createBy}
        )
    </insert>

    <delete id="deleteCommodityType">
        update
            commodity_type
        set
            is_delete = 1,
            update_time = now()
        where
            id = #{id}
    </delete>

    <select id="getAllCommodityType" resultType="pers.zhenfeng.service.po.CommodityTypePO">
        select
            *
        from
            commodity_type
        where
            is_delete = 0
    </select>

    <select id="getCommodityType" resultType="pers.zhenfeng.service.po.CommodityTypePO">
        select
            *
        from
            commodity_type
        where
            is_delete = 0
        and
            id = #{id}
    </select>

</mapper>