<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.zhenfeng.service.mapper.RecycleRoleMapper">

    <select id="getRoleById" resultType="pers.zhenfeng.service.po.SsoRolePO">
        select * from sso_role where id = #{id}
    </select>

</mapper>