<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.zhenfeng.service.mapper.RecycleOrderMapper">

    <insert id="insert" parameterType="pers.zhenfeng.service.po.RecycleOrderPO" useGeneratedKeys="true" keyProperty="id">
        insert into recycle_order (
            order_no,
            uid,
            city,
            address,
            phone,
            start_time,
            end_time,
            order_img,
            status,
            remark,
            is_delete,
            create_time,
            create_by,
            update_time,
            update_by)
        values (
            #{orderNo},
            #{uid},
            #{city},
            #{address},
            #{phone},
            #{startTime},
            #{endTime},
            #{orderImg},
            1,
            #{remark},
            0,
            now(),
            #{createBy},
            now(),
            #{updateBy})
    </insert>

    <select id="getRecycleOrderList" resultType="pers.zhenfeng.service.po.RecycleOrderPO">
        select
            *
        from
            recycle_order
        where
            is_delete = 0
        and
            uid = #{uid}
    </select>

    <sql id="QueryOrderParam">
        <if test="param.uid != null and param.uid != ''">
            and uid = #{param.uid}
        </if>
    </sql>

    <select id="getRecycleOrderPage" resultType="pers.zhenfeng.service.po.RecycleOrderPO">
        select
            *
        from
            recycle_order
        where
            is_delete = 0
            <include refid="QueryOrderParam"/>
        order by create_time desc
        limit #{index}, #{size}
    </select>

    <select id="getRecycleOrderPageCount" resultType="java.lang.Integer">
        select
            count(1)
        from
            recycle_order
        where
            is_delete = 0
            <include refid="QueryOrderParam"/>
    </select>

</mapper>