<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.zhenfeng.user.mapper.NumberManageMapper">
    <update id="updateNumberManage">
        UPDATE `number_manage` SET `value` = #{value} WHERE `key` = #{key}
    </update>

    <select id="getNumberManage" resultType="pers.zhenfeng.user.po.NumberManagePO">
        SELECT * FROM `number_manage` WHERE `key` = #{key}
    </select>

</mapper>